<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartgrocerytracker"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Features and Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.SmartGroceryTracker"
        android:usesCleartextTraffic="true">

        <!-- API Key (Ensure this is secure and not exposed in version control) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwXvYsGKTh2JU-C4jLRxslfdaZgwgjCHU" />

        <!-- Activities -->
        <activity
            android:name=".ui.FullScreenImageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignUp"
            android:exported="true" />
        <activity
            android:name=".ui.ReviewActivity" />
        <activity
            android:name=".ui.Login"
            android:exported="true"
            android:theme="@style/Theme.SmartGroceryTracker.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SmartGroceryTracker.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SmartGroceryTracker.NoActionBar" />
    </application>

</manifest>